@font-face {
  font-family: "IBM Plex Sans";
  src: url("../font/IBMPlexSans.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Blogger Sans";
  src: url("../font/Blogger Sans.otf");
  font-style: normal;
  font-weight: 400;
}
.header {
  color: #FFFFFF;
  background-color: #232221;
  font-family: 'IBM Plex Sans';
}
.menu {
  padding-left: 40px;
}
.menu__logo {
  padding-top: 40px;
  width: 209px;
}
.menu__logo img {
  width: 100%;
}
.item {
  display: inline-block;
  margin-right: 24.5px;
  margin-top: 20px;
  border-bottom: 1px dashed #F5A81D;
}
.item a {
  text-decoration: none;
  color: #FFFFFF;
}
.item a:hover {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}
.menu__button {
  color: #232221;
  padding: 10px;
  width: 167px;
  -webkit-border-radius: 0 0 0 3px;
          border-radius: 0 0 0 3px;
  background-color: #F5A81D;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
}
.menu__button a {
  text-decoration: none;
  color: #232221;
}
.menu__button a:hover {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}
.headline {
  text-align: center;
  margin-top: 142px;
  font-family: 'Blogger Sans';
}
.headline h3 {
  margin-bottom: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.headline h1 {
  margin-top: 18px;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 1px;
  line-height: 64px;
  padding: 0 20px;
}
.headline p {
  opacity: 0.7;
  font-family: "IBM Plex Sans";
  font-size: 18px;
  line-height: 24px;
  padding: 0 20px;
}
.quality {
  margin-top: 131px;
}
.quality__item {
  text-align: center;
}
.quality__item img {
  width: 64px;
  height: 64px;
}
.description {
  margin-top: 16px;
  opacity: 0.6;
  font-size: 13px;
  line-height: 18px;
  padding-right: 10px;
  padding-left: 10px;
}
.info h2 {
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 0.8px;
  line-height: 54px;
  color: #FFFFFF;
}
.service h2 {
  font-family: "Blogger Sans";
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 0.8px;
  line-height: 54px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.service__item {
  text-align: center;
}
.service__item img {
  height: 168px;
  width: 250px;
}
.service__item p {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  padding: 0 15px;
}
body,
html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #232221;
}
h1,
h2,
h3 {
  text-align: center;
}
