@font-white: #FFFFFF;
@font-button: #232221;
@font-face {
    font-family: "IBM Plex Sans";
    src: url("../font/IBMPlexSans.ttf");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Blogger Sans";
    src: url("../font/Blogger Sans.otf");
    font-style: normal;
    font-weight: 400;
}