.header {
    color: @font-white;
    background-color: #232221;
    font-family: 'IBM Plex Sans';
}

.menu {
    padding-left: 40px;
}

.menu__logo {
    padding-top: 40px;
    width: 209px;
    img {
        width: 100%;
    }
}

.item {
    display: inline-block;
    margin-right: 24.5px;
    margin-top: 20px; 
    border-bottom: 1px dashed #F5A81D;
    a {
        text-decoration: none;
        color: @font-white;
    }
    a:hover {
        text-decoration: none;
        color: @font-white;
        cursor: pointer;
    }
}

.menu__button {
    color: @font-button;
    padding: 10px;	
    width: 167px;	
    border-radius: 0 0 0 3px;	
    background-color: #F5A81D;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    a {
        text-decoration: none;
        color: #232221;
    }
    a:hover {
        text-decoration: none;
        color: @font-white;
        cursor: pointer;
    }

}

.headline {
    text-align: center;
    margin-top: 142px;
    font-family: 'Blogger Sans';
    h3 {
        margin-bottom: 0;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    h1 {
        margin-top: 18px;
        font-weight: bold;
        font-size: 56px;		
        letter-spacing: 1px;	
        line-height: 64px;
        padding: 0 20px;
    }
    p {
        opacity: 0.7;	
        font-family: "IBM Plex Sans";	
        font-size: 18px;	
        line-height: 24px;
        padding: 0 20px;
    }
}

.quality {
    margin-top: 131px; 
}

.quality__item {
    text-align: center;
    img {
        width: 64px;
        height: 64px;
    }
}

.description {
    margin-top: 16px;
    opacity: 0.6;
    font-size: 13px;	
    line-height: 18px;
    padding-right: 10px;
    padding-left: 10px;
}