.service {
    h2 {
        font-family: "Blogger Sans";
        font-size: 44px;	
        font-weight: bold;	
        letter-spacing: 0.8px;	
        line-height: 54px;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
}

.service__item {
    text-align: center;
    img {
        height: 168px;	
        width: 250px;
    }
    p {
        font-size: 15px;	
        font-weight: bold;	
        line-height: 20px;	
        text-align: center;
        padding: 0 15px;
    }
}