@import "_font";
@import "_header";
@import "_history";
@import "_service";

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #232221;
}

h1, h2, h3 {
    text-align: center;
}